@model Kart
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Roboto&display=swap" rel="stylesheet">
<style>

    .container-div {
        text-align: center;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        border:solid 2px red;
        border-radius:7px
    }
        .container-div h1 {
            font-family: 'Mountains of Christmas', cursive;
        }
</style>
<div class="container-div">
    <img width="250" src="@Url.Content($"~/images/{Model.ResimAd}.png")" alt="" />
    <h1>@Model.AliciAd</h1>
    <p>@Model.Mesaj</p>
    <h1>@Model.GonderenAd</h1>
</div>
