@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>


<address>
    Çağatay Kaban
</address>

<address>
    <strong><i class="fas fa-envelope"></i></strong>   <a class="contact-a" href="mailto:mcagataykaban@gmail.com">mcagataykaban@gmail.com</a><br />

</address>